@use '../abstracts' as abs;

.menu {

    --gap: 26px;

    &:not(:last-child)::after {
        content: "";
        width: 100%;
        display: block;
        height: 1px;
        background-color: abs.$gray-e9;
        margin-block: var(--gap);
    }

    &-link {
        color: abs.$text-gray !important;
        @include abs.fs('lg');
        line-height: 143%;
        font-weight: 500 !important;
        padding: 15px 0px 15px 20px !important;
        border-radius: 12px;

        &:hover {
            background: linear-gradient(92.29deg, #415EF4 0.33%, #7141EF 28.14%);
            color: abs.$white-color !important;
            [fill^="#E5"] {
                fill: abs.$white-color;
                opacity: 1
            }
            [fill^="#A5"] {
                mix-blend-mode: normal;
                fill: hsl(var(--primary-h), 
                calc(var(--primary-s) + 1%), 
                calc(var(--primary-l) + 16%))
            }
        }
    }

    &-link.active {
        background: linear-gradient(92.29deg, #415EF4 0.33%, #7141EF 28.14%);
        color: abs.$white-color !important;
        [fill^="#E5"] {
            fill: abs.$white-color;
            opacity: 1
        }
        [fill^="#A5"] {
            mix-blend-mode: normal;
            fill: hsl(var(--primary-h), 
            calc(var(--primary-s) + 1%), 
            calc(var(--primary-l) + 16%))
        }
    }

    &-icon {
        margin-right: 10px;
        flex: 0 0 24px;
    }

    &-header {
        @include abs.fs('sm');
        color: abs.$text-gray !important;
    }
}